# React Native / Expo
node_modules/
.expo/
.expo-shared/
web-build/

# Android
android/
android/app/build/

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/

# Buck
buck-out/
.buckd/

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Logs
npm-debug.log*
yarn-debug.log*
expo-debug.log*

# Env
.env
.env.local
.env.*.local

# Metro
metro-cache/

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sw?
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Misc
dist/
build/
tmp/
